{% extends "base.html" %}
 {% block title_html %}
   Stormy | Register
 {% endblock %}

 {% block page_heading %}
  Create User
 {% endblock %}

 {% block load_css %}
  .icon_color
  {
    color:#4285F4;
  }
{% endblock %}

 {% block article_content %}
  <div class=section>
   <div class="container">
    <div class='row'></div>
    <div class='row'></div>
    <div class='row'></div>
    <div class='row'></div>

    {% if user_exists %}
      <h3>Username Exists!</h3><br>
      <h5>Choose another and try again</h5>
      <script type="text/javascript">
       setTimeout(function() {
         window.location.href = "{% url 'create_user' %}";
       }, 5000);
      </script>
    {% elif email_exists %}
      <h3>Email Exists!</h3><br>
      <h5>Choose another and try again</h5>
      <script type="text/javascript">
       setTimeout(function() {
         window.location.href = "{% url 'create_user' %}";
       }, 5000);
      </script>
    {% elif user_added %}
      <h3>Sign Up successful!</h3>
      <h5>Please check your email address!</h5>
      <script type="text/javascript">
       setTimeout(function() {
         window.location.href = "{% url 'connect' %}";
       }, 5000);
      </script>
    {% else %}
      <form method="POST">
        {% csrf_token %}
          <div class="row">
            <div class='col l8 s12 m8 offset-l2 offset-m2 card'>
              <div class='section'>
                <div class= 'container'>
                  <div class="row">
                    <div class="input-field col l6 m6 s12">
                      <i style ='color:#4285F4' class="material-icons prefix">account_circle</i>
                      <input placeholder="User name must be unique" id="User Name" type="text" name="name">
                      <label for="User Name">User Name</label>
                      {% if form.errors %}
                        <span style="color:#ff0000">{{ form.name.errors }}</span>
                      {% endif %}
                    </div>

                    <div class="input-field col l6 m6 s12">
                      <i style ='color:#4285F4' class="material-icons prefix">email</i>
                      <input placeholder="Enter verifiable email" id="Email" type="text" name="email">
                      <label class="active" for="Email">Email</label>
                      {% if form.errors %}
                        <span style="color:#ff0000">{{ form.email.errors }}</span>
                      {% endif %}
                    </div>
                  </div>

                  <div class="row">
                    <div class="input-field col l6 m6 s12">
                      <i style ='color:#4285F4' class="material-icons prefix">lock</i>
                      <input placeholder="Choose a strong one" id="pass_length" type="password" name="password">
                      <label for="Password">Password</label>
                      <p style="color:#ff0000" id="password_error"></p>
                      {% if form.errors %}
                        <span style="color:#ff0000">{{ form.password.errors }}</span>
                      {% endif %}
                    </div>

                    <div class="input-field col l6 m6 s12">
                      <i style ='color:#4285F4' class="material-icons prefix">lock_outline</i>
                      <input placeholder="Confirm password" id="Password_re" type="password" name="password_bis">
                      <label for="Password re">Password Re-enter</label>
                      {% if form.errors %}
                        <span style="color:#ff0000">{{ form.password_bis.errors }}</span>
                      {% endif %}
                    </div>
                  </div>
                 {% if form.errors %}
                   {% for error in form.non_field_errors %}
                       <span style="color:#ff0000">{{ error }}</span>
                   {% endfor %}
                 {% endif %}
                <div class='row'></div>
                <button style='background-color:#0f9d58' class="right btn waves-effect waves-light white-text" type="submit" name="action">Create</button>
                <div class='row'></div>
              </div>
            </div>
          </div>
        </div>
      </form>
    {% endif %}
  </div>
 </div>
{% endblock %}

{% block load_js %}
  <script type="text/javascript">
    function pass_check(){
      var pass=document.getElementById('pass_length');
      if (pass.length < 10){
        var p=document.getElementById('password_error');
        p.innerHTML="Passowrd Is Too Short! Atleast 10 Characters";
        return false;
      }
      else
        return true;
    }
  </script>
{% endblock %}