{% extends "base.html" %}

{% block load_css %}
{% endblock %}

{% block h1 %}
  Handwritten Digit Recognition using <br><span class='green-text darken-4'>Convolutional Neural Networks</span>.
{% endblock %}

{% block article_content %}
<div class="section">
	<div class='container'>
		<div class='row'></div>
		<div class='row'></div>
		<div class='row'></div>
		<div class='row'></div>
		<div class='row'>
			<div class='col l4 m4 s12'>
				<h5 class='red-text'>Draw a single digit inside.</h5><br><br>
				<!--<span style="color: #4DAF7C; font-weight: 400; font-family: 'Open Sans', Helvetica;	">Draw the Digit inside this Box!</span><br>-->
				<canvas id="canvas" width="280" height="280" style="border:5px solid; border-radius: 5px; cursor: crosshair;" class='tooltipped' data-position="top" data-delay="50" data-tooltip="The bigger you draw the better!"></canvas>
			</div>
			<div class='debug col l3 m3 s12'>
				<div class='row'></div>
				<div class='row'></div>
				<span>You can choose line width and color:</span><br>
				<input type="color" id="colors">
				<input type="number" id="lineWidth" style="width:60px" value="5" step="0.2" min="0.1">
			</div>
			<div class='debug col l3 m3 s12'>
				<br/>
				<span class='center'>Sample of model that was used for training:</span><br><br>
			    <img class="materialboxed" width="450" src='/static/images/mnist.jpg'>
			</div>
		</div>
		<div class='row'>
			<div class='col l3 m3 s6'>
				<a href="#" class="debug btn myButton" onclick='AjaxCall()' style="background-color:#0f9d58"><span>Predict</span></a>
			</div>
			<div class='col l3 m3 s6'>
				<input type="button" id="clearButton" value="Clear" class='btn' style="background-color:#4285F4">
			</div>
		</div>
		<div class='row'></div>
		<div>
			<h4 id="result"><span> </span></h4>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
    	$('.materialboxed').materialbox();
  });
</script>
<script type="text/javascript">
    function AjaxCall(){
      event.preventDefault();
      $('#result').text('Processing...(few seconds)');
      var canvasObj = document.getElementById("canvas");
		var img = canvasObj.toDataURL();
      $.ajax({
          type: "POST",
          url: "/mnist",
          async: true,
          dataType: "json",
          data: {csrfmiddlewaretoken: '{{ csrf_token }}',img:img},
          success: function(data) {
              $('#result').text(' Predicted Output: '+data.response);
            }})
      };

          // CSRF code
          function getCookie(name) {
              var cookieValue = null;
              var i = 0;
              if (document.cookie && document.cookie !== '') {
                  var cookies = document.cookie.split(';');
                  for (i; i < cookies.length; i++) {
                      var cookie = jQuery.trim(cookies[i]);
                      // Does this cookie string begin with the name we want?
                      if (cookie.substring(0, name.length + 1) === (name + '=')) {
                          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                          break;
                      }
                  }
              }
              return cookieValue;
          }
          var csrftoken = getCookie('csrftoken');

          function csrfSafeMethod(method) {
              // these HTTP methods do not require CSRF protection
              return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
          }
          $.ajaxSetup({
              crossDomain: false, // obviates need for sameOrigin test
              beforeSend: function(xhr, settings) {
                  if (!csrfSafeMethod(settings.type)) {
                      xhr.setRequestHeader("X-CSRFToken", csrftoken);
                  }
              }
          });
  </script>
{% endblock %}

{% block load_js %}
(function()
{
	var canvas = document.querySelector( "#canvas" );
	var context = canvas.getContext( "2d" );
	canvas.width = 280;
	canvas.height = 280;

	var Mouse = { x: 0, y: 0 };
	var lastMouse = { x: 0, y: 0 };
	context.fillStyle="white";
	context.fillRect(0,0,canvas.width,canvas.height);
	context.color = "black";
	context.lineWidth = 10;
    context.lineJoin = context.lineCap = 'round';
	
	debug();

	canvas.addEventListener( "mousemove", function( e )
	{
		lastMouse.x = Mouse.x;
		lastMouse.y = Mouse.y;

		Mouse.x = e.pageX - this.offsetLeft;
		Mouse.y = e.pageY - this.offsetTop;

	}, false );

	canvas.addEventListener( "mousedown", function( e )
	{
		canvas.addEventListener( "mousemove", onPaint, false );

	}, false );

	canvas.addEventListener( "mouseup", function()
	{
		canvas.removeEventListener( "mousemove", onPaint, false );

	}, false );

	var onPaint = function()
	{	
		context.lineWidth = context.lineWidth;
		context.lineJoin = "round";
		context.lineCap = "round";
		context.strokeStyle = context.color;
	
		context.beginPath();
		context.moveTo( lastMouse.x, lastMouse.y );
		context.lineTo( Mouse.x, Mouse.y );
		context.closePath();
		context.stroke();
	};

	function debug()
	{
		/* CLEAR BUTTON */
		var clearButton = $( "#clearButton" );
		
		clearButton.on( "click", function()
		{
			
				context.clearRect( 0, 0, 280, 280 );
				context.fillStyle="white";
				context.fillRect(0,0,canvas.width,canvas.height);
			
		});

		/* COLOR SELECTOR */

		$( "#colors" ).change(function()
		{
			var color = $( "#colors" ).val();
			context.color = color;
		});
		
		/* LINE WIDTH */
		
		$( "#lineWidth" ).change(function()
		{
			context.lineWidth = $( this ).val();
		});
	}
}());
{% endblock %}