{% extends "base.html" %}

{% block title_html %}
  Username Exists
{% endblock %}

{% block h1 %}
 Username Exists
{% endblock %}

{% block article_content %}
 <div class="section">
   <div class="container">
     <br><br><h3>Looks like this is a registered username. Please try another or sign in!</h3><br><br>
     <script type="text/javascript">
       setTimeout(function() {
         window.location.href = "{% url 'create_user' %}";
       }, 5000);
     </script>
     <br><br>
   </div>
 </div>
{% endblock %}
